@page "/observer"

<h1>Observer</h1>

<div>
    <button class="btn btn-primary" @onclick="ChangeValue">Change Value</button>
</div>
<br><br>
<code>
    @concreteA.value <br>
    @concreteB.value
</code>

@using Patterns.Observer

@code {

    DataSource dataSource;
    IObserver concreteA;
    IObserver concreteB;

    protected override void OnInitialized()
    {
        dataSource = new DataSource();
        concreteA = new ConcreteObserverA();
        concreteB = new ConcreteObserverB();

        dataSource.addObserver(concreteA);
        dataSource.addObserver(concreteB);

        dataSource.Value = "Initial Value";
    }

    public void ChangeValue()
    {
        dataSource.Value = "New Value";
    }
}
